* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(223, 232, 255);
  display: flex;
  justify-content: center;
}

@media (max-width: 1444px) {
  body {
    background-size: contain;
  }
}

.card {
  margin-top: 100px;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  width: 450px;
}
